<h1>Express IronBeers</h1>

<img src="/images/beer.png" alt="Beer" />

<div>
  <a class="button" href="/beers">Check the Beers!</a>
  <a class="button" href="/random-beer">Check a Random Beer</a>
</div>
