/* Color and font variables */
:root {
  --white: #f7f9f9;
  --light-blue: #2081c3;
  --dark-blue: #0a2c42;
  --grey: #bfbfbf;
  --font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--dark-blue);
}

li {
  list-style-type: none;
}

img {
  max-width: 50%;
  max-height: 50%;
}

nav {
  background-color: var(--light-blue);
  padding: 1rem 0;
  text-align: left;
  margin-bottom: 2rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 3rem;
}

.button {
  background-color: var(--light-blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1rem 0;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--dark-blue);
}

.beer-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.beer-card {
  background-color: var(--grey);
  padding: 1rem;
  border-radius: 4px;
}

.beer-card h2,
.beer-card p,
.beer-card a {
  color: var(--white);
  text-decoration: none;
}

h3,
li {
  color: var(--white);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  min-height: 60vh;
}
